<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
<link rel="stylesheet" href=""  th:href="@{/css/myprofile.css}" />
</head>
<body>
	<div class="container">
	    
	    <img src="" class="profile" th:src="@{/image/myprofile.jpg}" alt="" />
		<h1>Adding the css , javascript in thymeleaf throw</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Officiis officia consequuntur hic saepe vero assumenda natus dolorum
			incidunt perferendis quis rerum quia beatae porro quibusdam dolorem
			soluta quaerat dolore facilis.</p>
	</div>
	
	 <script src="" th:src="@{js/myjs.js}"></script>
	
</body>
</html>