<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	
<footer th:fragment="footer1">  
    <div class="container">
      <h1>About learn codeWith tpgcoder</h1>
      <h1>free of cost learn to hear</h1>
      <h1>ok </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eveniet aliquam tenetur non quo doloribus sed atque id a recusandae temporibus provident placeat pariatur eum iste harum maiores tempore voluptatum omnis veniam minus modi ipsa nesciunt autem nobis fuga fugiat. Iste praesentium maxime accusantium qui consequatur perspiciatis non dicta assumenda!</p>
    </div>
</footer>
	
</body>
</html>